.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 80px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.heroInnerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(43,45,49,.7),rgba(43,45,49,.9));

}


@media only screen and (min-width:1200px){
    
    .innerContainer{
        width: 1200px;
    }
  
  }


  @media only screen and (max-width:940px){
    .navMenu{
      display: none;
  } 
  }  

.tag{
    background-image:linear-gradient(90deg, #FF2A30, #0038AD ) ;
  }